body {
	background-color: #efeff4;
}
.navbar-default {
  background-color: #fff;
  border: none;
  min-height: 55px;
}

.navbar-default .navbar-text {
  color: #404040;
}
.navbar-default .navbar-nav > li > a {
  color: #404040;
  font-size: 1.4em;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4ABFAF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #4ABFAF;
  background: none;
}

.navbar {
	margin-bottom: 0;
}

.container-fluid {
	padding: 0;
}

.headtop {
	padding-left: 20px;
	padding-right: 20px;
}


.section-header {
	position: relative;
	top: 0;
}

.header-content {
	position: absolute;
	width: 90%;
	bottom: 6%;
	z-index: 3;
	color: white;
	text-align: center;
  left: 5%;
}

.header-content h1 {
	font-size: 3vw;
	letter-spacing: 0.2vw;
  color: #4ABFAF;
}

.header-content p {
	font-size: 2vw;
	font-weight: lighter;
	color: #404040;
	letter-spacing: 0.1vw;
}

.section-content {
  position: relative;
  top: 50px;
  text-align: center;
  width: 100%;
}

.box {
  width: 100%;
  margin: 50px auto;
  width: 960px;
}

.thirdcolumn {
  width: 30%;
  display: inline-block;
}

.section-content h1 {
  font-size: 1.4em;
  font-weight: lighter;
  color: #404040;
}

.section-content p {
  font-size: 1.2em;
  color: #E47E30;
  padding-top: 5px;
  font-weight: lighter;
}

.container {
	position: relative;
	top: 0;
}

.gfont {
	font: 700 42px lato;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #808080;
  border-top: 1px #bfbfbf solid;
}

.about-content {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.1vw;
  color: #404040;
}
